name: Elm Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      
      - name: Setup Elm
        uses: jorelali/setup-elm@v3
        with:
          elm-version: 0.19.1

      - name: Install elm-test, elm-format and elm-review
        run: |
          npm config set prefix $HOME/.npm-global
          echo "$HOME/.npm-global/bin" >> $GITHUB_PATH
          npm install -g elm-test elm-format elm-review

      - name: Run Tests
        run: elm-test

      - name: Check formatting
        run: elm-format --validate src/ tests/ review/

      - name: Run elm-review on source code
        run: elm-review

      - name: Run Tests in Docker
        run: bin/run-tests-in-docker.sh
